<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <receiver
            android:name="com.tweener.alarmee.reveicer.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tweener.alarmee.SET_ALARM" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.tweener.alarmee.reveicer.NotificationActionBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tweener.alarmee.ACTION_CLICKED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.tweener.alarmee._internal.ContextInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
